img{
    width: 30%;
    position:fixed;
}

h1{
    text-align: center;
}

#menubar{
    width: 15%;
    background-color: #dddddd;
    padding: 5px 0px 10px 0px;
    position: fixed;
    border-left: solid 5px #df4534;
    text-decoration: none;
}

#content{
    padding-left: 18%;
}

.hair{
    padding-left: 2%;
}

#hair{
    margin: 10px 10px 10px 38%;
    background-color: #eeeeee;
}

#hair h2{
    border-bottom: solid 5px #d9aa34;
}