body{
    background-color: #f3daec;
    opacity: 1;
    background: linear-gradient(135deg, #fdffbf55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #fdffbf 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #fdffbf55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #fdffbf 25%, #f3daec 25%) 0px 0/ 80px 80px;
    margin: 0px;
    font-family: sans-serif;
}


h1 {
    text-align: center;
    border: solid 3px #ff3232d4;/*線色*/
    padding: 10px;
    margin: 5px 5px 5px 280px;
    border-radius: 0.5em;
    background-color: #ff8a8a8b;
  }

#top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 10px;
    background-color: rgb(151, 56, 93);
    color: white;
    text-decoration: none;
}

nav{
    display: block;
    position: fixed;
    background-color: rgb(255, 229, 229);
    top: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 2;
    width: 250px;
    border-left: double 10px #f55c5c;;
    border-right: double 10px #f55c5c;
    height: 100%;
}

#list{
    padding: 0px 25px 0px 25px;
}

#list ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

#list a{
    display: block;
    text-decoration: none;
    color: #000;
    padding: 13px;
    text-align: center;
    transition-duration: 0.3s;
    border-bottom: solid 3px #222222;
}

#list li p{
    text-align: center;
    padding-top: 10px;
    margin: 5px 0px 5px 0px;
}

#list ul li a:hover{
    background-color: rgb(168, 151, 151);
}

#content{
    padding-left: 285px;
}

#intro{
    background-color: rgba(255, 206, 81, 0.582);
    padding: 8px;
    margin: 8px;
    border-radius: 0.5em;
}

.int{
    margin: 5px;
}

.bui{
    padding-left: 1%;
    margin: 10px 10px 10px 370px;
}

h2.bui{
    border-bottom: solid 5px #d9aa34;
}

p.bui{
    font-size: 20px;
}

#hair{
    padding: 10px;
    background-color: #ffffff74;
}

img#img1{
    width: 330px;
    position:absolute;
}

#eye{
    margin-top: 35px;
    padding: 10px;
    background-color: #ffffff74;
}

img#img2{
    width: 310px;
    position:absolute;
}

#nose{
    margin-top: 35px;
    padding: 10px;
    background-color: #ffffff74;
}

img#img3{
    width: 315px;
    position:absolute;
}

#mouth{
    margin-top: 35px;
    padding: 10px;
    background-color: #ffffff74;
}

img#img4{
    width: 275px;
    position:absolute;
}

#ear{
    margin-top: 35px;
    padding: 10px;
    background-color: #ffffff74;
    margin-bottom: 10px;
}

img#img5{
    width: 275px;
    position:absolute;
}

#bottom{
    background-color: #444444;
    padding-bottom: 50px;
    margin-top: 50px;
}