body {
    font-family: fantasy;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #caae52;
}

#top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 10px;
    background-color: rgb(151, 56, 93);
    color: white;
}

#menubar {
    width: 15%;
    background-color: #dddddd;
    padding: 5px 0px 10px 0px;
    position: fixed;
    border-left: solid 5px #df4534;
}

#menubar p{
    border-bottom: solid 3px #555555;
}

.content {
    padding-left: 18%;
}

.overview {
    padding-left: 16%;
    text-align: center;
}

img {
    padding-left: 20%;
}

ul{
    padding-left: 20px;
}

.komidashi {
    border-bottom: solid 3px #ffff00;
}