body{
    font-family: sans-serif;
    margin: 0px;
    background-color: #f3daec;
    opacity: 1;
    background: linear-gradient(135deg, #fdffbf55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #fdffbf 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #fdffbf55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #fdffbf 25%, #f3daec 25%) 0px 0/ 80px 80px;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 3px 3px 3px 280px;
    position: relative;
    padding: 1.5rem 1.5rem calc(1.5rem + 10px);
    border: 2px solid #000;
    background-color: #e5f19c;
  }
  
  h1:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    border-top: 2px solid #000;
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

#top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 10px;
    background-color: rgb(151, 56, 93);
    color: white;
    text-decoration: none;
}

nav{
    display: block;
    position: fixed;
    background-color: rgb(255, 229, 229);
    top: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 2;
    width: 250px;
    border-left: double 10px #f55c5c;;
    border-right: double 10px #f55c5c;
    height: 100%;
}

#list{
    padding: 0px 25px 0px 25px;
}

#list ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

#list a{
    display: block;
    padding: 13px;
    text-align: center;
    transition-duration: 0.3s;
    border-bottom: solid 3px #222222;
}

#list li p{
    text-align: center;
    padding-top: 10px;
    margin: 5px 0px 5px 0px;
}

#list ul li a:hover{
    background-color: rgb(168, 151, 151);
}

.content {
    padding-left: 285px;
}

#ovti {
    text-align: center;
    padding: 1rem 2rem;
    color: #000000;
    background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
    background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    border: double 10px #ffffff;
    margin: 2px 2px 2px 280px;
    width: 87%;
  }
  

#ovte{
    margin-left: 285px;
    padding: 10px;
    margin-top: 2px;
    border: double 4px #e9a347;
    background-color: #e9a3474a;
    font-size: 16px;
}

.human{
    margin: 0px;
    padding-left: 20%;
}

#headtext{
    position: absolute;
    font-size: large;
    padding-top: 50px;
}

#bodytext {
    position: absolute;
    font-size: large;
    padding-top: 100px;
    padding-left: 30px;
}

#kahanshintext{
    position: absolute;
    font-size: large;
    padding-top: 50px;

}

ul{
    padding-left: 20px;
}

#ele1{
    overflow: auto;
}
#atama{
    float: left;
    width: 47%;
    height: 550px;
}
#karada{
    float: right;
    width: 47%;
    height: 550px;
}

#ele2{
    overflow: auto;
}
#kahanshin{
    float: left;
    width: 47%;
    height: 550px;
}
#other{
    float: right;
    width: 47%;
    height: 550px;
}

.komidashi {
    border-left: solid 3px #ffd000;
    padding: 1px;
    background-color: #ebf894;
    margin-top: 0px;
    font-size: 22px;
}

.waku {
    border: double 5px #ffffff81;
    margin-bottom: 30px;
    background-color: #ffffff2c;
    font-size: 18px;
}

.image{
    width: 330px;
    margin-left: 135px;
}

.buintro{
    text-align: center;
}

.kotira{
    color: blue;
    text-decoration: underline;
}

#syutten{
    border: double 5px #ffffff81;
    margin-bottom: 30px;
    background-color: #ffffff2c;
    padding: 8px;
}

#syutten h3{
    border-bottom: solid 2px #444444;
}

#bottom{
    background-color: #444444;
    padding-bottom: 50px;
}