body{
    background-color: #f3daec;
    opacity: 1;
    background: linear-gradient(135deg, #fdffbf55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #fdffbf 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #fdffbf55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #fdffbf 25%, #f3daec 25%) 0px 0/ 80px 80px;
    margin: 0px 5px 0px 0px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    border: solid 3px #ff3232d4;
    padding: 10px;
    margin: 5px 5px 5px 280px;
    border-radius: 0.5em;
    background-color: #ff8a8a8b;
  }

#top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 10px;
    background-color: rgb(151, 56, 93);
    color: white;
    text-decoration: none;
}

nav{
    display: block;
    position: fixed;
    background-color: rgb(159, 38, 79);
    top: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 2;
    width: 265px;
    height: 100%;
}

#list{
    padding: 0px 25px 0px 25px;
    color: #f3daec;
}

#list ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

#list a{
    display: block;
    padding: 13px;
    text-align: center;
    transition-duration: 0.3s;
    border-bottom: solid 3px #b3be37;
    color: #f3daec;
}

#list li p{
    text-align: center;
    padding-top: 10px;
    margin: 5px 0px 5px 0px;
}

#list ul li a:hover{
    background-color: rgb(119, 19, 71);
}

#content{
    padding-left: 285px;
}

#intro{
    background-color: rgba(255, 206, 81, 0.582);
    padding: 8px;
    margin: 8px;
    border-radius: 0.5em;
}

.int{
    margin: 5px;
}

.bui{
    padding-left: 1%;
    margin: 10px 10px 10px 370px;
}

h2.bui{
    border-bottom: solid 5px #d9aa34;
}

p.bui{
    font-size: 20px;
}

#leg{
    padding: 10px;
    background-color: #ffffff74;
}

img#img1{
    width: 330px;
    position:absolute;
    margin-left: 15px;
}

#thigh{
    margin-top: 35px;
    padding: 10px;
    background-color: #ffffff74;
}

img#img2{
    width: 310px;
    position:absolute;
    margin-left: 25px;
}

#calf{
    margin-top: 35px;
    padding: 10px;
    background-color: #ffffff74;
}

img#img3{
    width: 315px;
    position:absolute;
    margin-left: 25px;
}

#bottom{
    background-color: #444444;
    padding-bottom: 50px;
    margin-top: 50px;
}