body{
    background-color: #f3daec;
    opacity: 1;
    background: linear-gradient(135deg, #fdffbf55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #fdffbf 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #fdffbf55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #fdffbf 25%, #f3daec 25%) 0px 0/ 80px 80px;
    margin: 0px;
    font-family: sans-serif;
}

h1{
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: #ff8a8a8b;
}

#top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 10px;
    background-color: rgb(151, 56, 93);
    color: white;
    text-decoration: none;
}

#menubar{
    width: 15%;
    background-color: #dddddd;
    padding: 5px 0px 10px 0px;
    position: fixed;
    border-left: solid 5px #df4534;
}

#menubar a{
    text-decoration: none;
    color: #000000;
}

#content{
    padding-left: 16%;
}

#intro{
    background-color: rgba(255, 206, 81, 0.582);
    padding: 8px;
    margin: 8px;
}

.int{
    margin: 5px;
}

.bui{
    padding-left: 1%;
    margin: 10px 10px 10px 28%;
}

h2.bui{
    border-bottom: solid 5px #d9aa34;
}

#voice{
    padding: 10px;
    background-color: #ffffff74;
}

img#img1{
    width: 330px;
    position:absolute;
}

#smell{
    margin-top: 35px;
    padding: 10px;
    background-color: #ffffff74;
}

img#img2{
    width: 310px;
    position:absolute;
}

#language{
    margin-top: 35px;
    padding: 10px;
    background-color: #ffffff74;
}

img#img3{
    width: 315px;
    position:absolute;
}

#bottom{
    background-color: #444444;
    padding-bottom: 50px;
}

p.bui{
    font-size: large;
}